DJANGO_ENV=local
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
LANGUAGE_CODE=es-cl
TIME_ZONE=America/Santiago
SQLITE_NAME=db.sqlite3

POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MAILGUN_API_KEY=key-your-mailgun-key
MAILGUN_DOMAIN=mg.example.com
MAILGUN_BASE_URL=https://api.mailgun.net/v3
DEFAULT_FROM_EMAIL=App Base <noreply@example.com>
EMAIL_TIMEOUT=10
PASSWORD_RESET_TIMEOUT=3600

CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
SECURE_SSL_REDIRECT=True
