{% extends "base.html" %}

{% block title %}Nueva contrasena{% endblock %}

{% block content %}
<h1>Define nueva contrasena</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-row">{{ form.new_password1.label_tag }}{{ form.new_password1 }}</div>
    <div class="form-row">{{ form.new_password2.label_tag }}{{ form.new_password2 }}</div>
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.errors }}
    {% endfor %}
    <button class="btn" type="submit">Actualizar contrasena</button>
</form>
{% endblock %}
